<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LawApp15" connectionString="Server=venus.crpuwty08ffp.us-west-2.rds.amazonaws.com,1433;Database=Core;User ID=alex;Password=thinkpositive" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>