.container {
	width: 90%;
}

.month, .month .table th, .month .table td {
	text-align: center;
}

.month .table tr.month-lbl th {
	background-color: #F0F0F0;
	border-bottom-width: 2px;
}

.month .table tr.weekday-lbl th {
	border-bottom-width: 1px;
}

.month {
	border-color: #ddd;
}

.left {
	text-align: left;
}

.month td.day-checked:after {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    bottom: -10px;
    right: 4px;
    -moz-osx-font-smoothing: grayscale;
    width: 0px;
    height: 0px;
    content: "\e013";
}

.month td {
    cursor: default;
}

#TSC_MASTER_HOLDER {
    overflow-x:hidden;
}

.days-selected{
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 15px;
}

.checkbox-list td label, .checkbox-breaks td label {
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
}

.alert-container.container {
    position: fixed;
    z-index: 1000;
    margin-top: 0px;
}

.datepicker-day-selectable {
    background-color:#eee599;
}


#workpane .days-selected > .clearfix {
    margin-left: auto;
    margin-right: auto;
}

.text-center { text-align: center; }

@media screen and (min-width: 768px) {
    /** small devices and larger */
    #workpane .days-selected > .clearfix {
        width:500px; 
    }

    .column-calendar-month {
        /* set min height for floats */
        min-height: 325px;
    }
}

@media screen and (max-width: 767px){
    .column-calendar-month{
        min-height: initial;
    }
}