<?xml version="1.0"?>

<configuration>
 
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />

      
      <add name="account1.apiUsername" value="lawapp15_api1.gmail.com"/>
      <add name="account1.apiPassword" value="6ELP3S6Y3GNNKMXA"/>
      <add name="account1.apiSignature" value="ATbzlYlZivJAE3t4ZPbng6p08F4GAf6lRmnr9K1ZUUt30R0ZO2maf7fG"/>
      <add name="account1.applicationId" value="APP-80W284485P519543T"/>
      
<!--
      <add name="clientId" value="AdAIZ2CJDnlBg2mKj-rWSYKi6LcvDrnHBg-MwiIqwDyi0mulazAWB9C7r-bxvX1Ystyayvifd5WnDtCt" />
      <add name="clientSecret" value="ECez8rFaD286SpOeaM8yBE-g7yiUOdrIYe8I6vlmfvq3wIfOVtNlnhqWd-RUYLX72dGl0XAQ-CPQenJF" />
-->

    </settings>
  </paypal>

  <appSettings>
    <!-- Diagnostics logging is only available in a Full Trust environment. -->
    <!-- <add key="PayPalLogger" value="PayPal.Log.DiagnosticsLogger, PayPal.Log.Log4netLogger"/> -->
    <add key="PayPal_AppID" value="APP-80W284485P519543T"/>
  </appSettings>

  <location path=".">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
