<?xml version="1.0"?>

<configuration>
 
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />

      <add name="account1.apiUsername" value="lawapp15-facilitator_api1.gmail.com"/>
      <add name="account1.apiPassword" value="59GGTJ7RLJFAEXT8"/>
      <add name="account1.apiSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AM9m7TbKTbe54QEBFZ95vMjofvwY"/>
      <add name="account1.applicationId" value="APP-80W284485P519543T"/>


    </settings>
  </paypal>

  <appSettings>
    <!-- Diagnostics logging is only available in a Full Trust environment. -->
    <!-- <add key="PayPalLogger" value="PayPal.Log.DiagnosticsLogger, PayPal.Log.Log4netLogger"/> -->
    <add key="PayPal_AppID" value="APP-80W284485P519543T"/>
  </appSettings>
</configuration>
